In [39]:
# the names of the cuts offered at Carly’s Clippers.
hairstyles = ['bouffant', 'pixie', 'dreadlocks', 'crew', 'bowl', 'bob', 'mohawk', 'flattop']

In [40]:
# the price of each hairstyle in the hairstyles list.
prices = [30, 25, 40, 20, 20, 35, 50, 35]

In [41]:
# the number of purchases for each hairstyle type in the last week.
last_week = [2, 3, 5, 8, 4, 4, 6, 2]

1. total_price 변수를 생성하고 기본값 0 설정하기.

In [42]:
total_price = 0

2. prices 각 값을 반복해서  total_price에 추가하기.

In [43]:
for i in range(len(prices)):
    total_price += prices[i]

total_price

255

3. total_price를 가격 수로 나눈 average_price 변수 생성하기.

In [44]:
average_price = total_price / len(prices)

4. average_price 출력하기

In [45]:
print('Average price is ', average_price)

Average price is  31.875

5. prices에서 각각 5를 뺀 new_prices 리스트 생성하기.

In [46]:
new_prices = []
for i in range(len(prices)):
    new_prices.append(prices[i] - 5)

6. new_prices 출력하기.

In [47]:
new_prices

[25, 20, 35, 15, 15, 30, 45, 30]

7. total_revenue 변수 만들고 초기값 0 설정하기.

In [48]:
total_revenue = 0

8. for문을 사용해 0에서 len(hairstyles)까지 반복하는 변수 i 만들기.
9. prices[i]와 last_week[i]의 곱을 total_revenue에 저장하기.
10. total_revenue 출력하기.

In [49]:
for i in range(0, len(hairstyles)):
    total_revenue += prices[i]*last_week[i]

total_revenue

1085

11. total_revenue를 7로 나누어 평균 일일 수익(average_daily_revenue) 구하기.

In [50]:
average_daily_revenue = total_revenue / 7
print('Average daily revenue is ', average_daily_revenue)

Average daily revenue is  155.0

12. hairstyles 중 new_prices가 30 미만인 헤어스타일을 cuts_under_30에 저장하기.

In [51]:
cuts_under_30 = []

for i in range(0, len(new_prices)-1):
    if new_prices[i] < 30:
        cuts_under_30.append(hairstyles[i])

13. cuts_under_30 출력하기.

In [52]:
print(cuts_under_30)

['bouffant', 'pixie', 'crew', 'bowl']